
<div class="wrapper">
  <app-sidebar></app-sidebar>


    <div class="main-panel">


        
    <app-navbar></app-navbar>

    <div class="content">
          

      <div class="container-fluid">
          <div class="row">
            <input type="submit"  value="المداخيل  " (click)="payment()"> <br> <br>
            <input type="submit"  value="المصاريف "  (click)="ressource()"> <br> <br>
            <input type="submit"  value="التقرير المالي
            "  (click)="resume()">

          </div>
      </div>
    </div>
 



  <app-footer></app-footer>


</div>
</div>

