
<div class="wrapper">
  <app-sidebar></app-sidebar>
    <div class="main-panel">   
    <app-navbar></app-navbar>
        <div class="content">
                <div class="container-fluid">
                  <a href="https://drive.google.com/drive/folders/1D82kwxCdssdJraqwFrKhn1S5-oKgIyt2">      <input type="submit" value="أنظر"> </a>



                  <iframe src="https://drive.google.com/embeddedfolderview?id=1Sm6hQIZePJUpYyArb-AbyCl7DTnI-Nij#grid" height="450" width="850">
                  <a href="https://drive.google.com/drive/folders/1D82kwxCdssdJraqwFrKhn1S5-oKgIyt2"></a></iframe>
                     
                  <div id="drv"> </div> 
                </div>
            </div>
           
          
          
          
            <app-footer></app-footer>
          
          
          </div>
          </div>
          