<div class="wrapper">
    <app-sidebarm></app-sidebarm>
  
  
      <div class="main-panel">
  
  
          
      <app-navebarm></app-navebarm>
  

      <div class="content">
        <div class="container-fluid" *ngIf="cc.niveau==1">
          <a href="https://drive.google.com/drive/folders/1oQmRZ1MGT1GioB9RaurG09h0XfAIFkct?usp=sharing">      <input type="submit" value="أنضر"> </a>



          <iframe src="https://drive.google.com/embeddedfolderview?id=1oQmRZ1MGT1GioB9RaurG09h0XfAIFkct?usp=sharing" height="450" width="850">
          <a href="https://drive.google.com/drive/folders/1D82kwxCdssdJraqwFrKhn1S5-oKgIyt2"></a></iframe>
             
          <div id="drv"> </div>
        </div>

        <div class="container-fluid" *ngIf="cc.niveau==2">
            <a href="https://drive.google.com/drive/folders/1VD_ypQ3h4YLMTY-2H24IFwsoBmg1ywGy?usp=sharing">      <input type="submit" value="أنضر"> </a>
  
  
  
            <iframe src="https://drive.google.com/embeddedfolderview?id=1VD_ypQ3h4YLMTY-2H24IFwsoBmg1ywGy?usp=sharing" height="450" width="850">
            <a href="https://drive.google.com/drive/folders/1D82kwxCdssdJraqwFrKhn1S5-oKgIyt2"></a></iframe>
               
            <div id="drv"> </div>
          </div>

          <div class="container-fluid" *ngIf="cc.niveau==3">
            <a href="https://drive.google.com/drive/folders/1zg-13iuYCyCwDf6BekrMY4rB_-MRXNCM?usp=sharing">      <input type="submit" value="أنضر"> </a>
  
  
  
            <iframe src="https://drive.google.com/embeddedfolderview?id=1zg-13iuYCyCwDf6BekrMY4rB_-MRXNCM?usp=sharing" height="450" width="850">
            <a href="https://drive.google.com/drive/folders/1D82kwxCdssdJraqwFrKhn1S5-oKgIyt2"></a></iframe>
               
            <div id="drv"> </div>
          </div>











          <div class="container-fluid" *ngIf="cc.niveau==null">
              <p class="text-danger"> لم يتم تحديد قسم لك</p>
          </div>
          
    </div>
   



    <app-footerm></app-footerm>


</div>
</div>

