<div class="sidebar" data-color="green" data-image="../assets/img/sidebar22.jpg"> 

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
               </a>
            </div>

            <ul class="nav">
                <li >
                    <a (click)="compte()">
                        <p  style="font-size:17px">إدارة الحساب</p>
                    </a>
                    
                        <!-- 
                            <li >   <a *ngIf="t" (click)="enfants()">
                            <p  style="font-size:17px">إدارة الأطفال</p>
                        </a>
                </li>
                        -->
                     
                <li >
                    <a (click)="abs()">
                        <p  style="font-size:17px">إدارة الغيابات</p>
                    </a>
                </li>
                <li>
                    <a (click)="document()">
                        <p  style="font-size:17px">إدارة الوثائق والطباعة</p>
                    </a>
                </li>
               
			
            </ul>
    	</div>
    </div>