
<div class="wrapper">
    <app-sidebarp></app-sidebarp>
  
  
      <div class="main-panel">
  
  
          
<app-navbarp></app-navbarp>  

  
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <div class="card">
                    <div class="header">
                        <!-- <h4 class="title">آیکون‌های Awesome Stroke - تعداد: 202</h4> -->
                        <p style="font-size: 29px;"  class="category"> اللائحة    <!-- <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a> --></p>
                    </div>
                    <div class="content all-icons" >
                    <div class="row">
<p>            </p>
                        <div class="col-sm-6 col-lg-3" (click)="enf()" >
                            <div class="card text-white bg-info" style="background-color: yellow; width: 250PX;height: 250px;">
                                <div class="card-body pb-0">
                                    <img src="https://cdn.discordapp.com/attachments/756965440194084984/823505241948815400/kids.jpg"
                                     class="mb-0" width="250" height="250">
                              
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;">
                                    <canvas id="card-chart2" class="chart" height="70"></canvas>
                                </div>

                            </div>
                            <p> معلومات حول الـبناء</p>

                        </div>
                          <div class="col-sm-6 col-lg-3" (click)="compte()" >
                            <div class="card text-white bg-info" style="background-color: rgb(0, 255, 157); width: 250PX;height: 250px;">
                                <div class="card-body pb-0">
                               
                               <img src="https://cdn.discordapp.com/attachments/756965440194084984/823510640370778132/33EpIr0C0r0sBkZ5VPB8hc6QU8GHNodduq1umokwAmK06vMkshiQN2kh6X1_KpJphi0EZe5_z8SiX5j-4rgCDIyZlhG75bqXhLvU.png"
                                     class="mb-0" width="250" height="250">
                              
                              
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;" >
                                    <canvas id="card-chart2" class="chart" height="70"></canvas>
                                </div>

                            </div>
                            <p>إدارة الحساب</p>

                        </div> 
                         <div class="col-sm-6 col-lg-3" (click)="abs()" >
                            <div class="card text-white bg-info" style="background-color: rgb(17, 0, 255); width: 250PX;height: 250px;">
                                <div class="card-body pb-0">
                               
                                   <img src="https://cdn.discordapp.com/attachments/756965440194084984/823511119552446494/Classes-for-Kids.jpg"
                                     class="mb-0" width="250" height="250">
                              
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;">
                                    <canvas id="card-chart2" class="chart" height="70"></canvas>
                                </div>

                            </div>
                            <p>غيابات الأبناء</p>

                        </div>
                       
                        <div class="col-sm-6 col-lg-3" (click)="pay()" >
                            <div class="card text-white bg-info" style="background-color: rgb(255, 0, 0); width: 250PX;height: 250px;">
                                <div class="card-body pb-0">
                                    <img src="https://cdn.discordapp.com/attachments/756965440194084984/823505241948815400/kids.jpg"
                                     class="mb-0" width="250" height="250">
                              
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;">
                                    <canvas id="card-chart2" class="chart" height="70"></canvas>
                                </div>

                            </div>
                            <p>  إستخلاصات الأبناء</p>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




</div>


   



    <app-footerp></app-footerp>


</div>
</div>

