
          <div class="content">
            <div class="h-100">
    <img style='padding:center;
    display: block;  
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   border-radius: 15px;
    ' src="..\assets\img\tita2.png" >

<h1 class="bg-info" style="text-align: center;"> 
   البطاقة الشخصية   <br>
</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                </div>
                                <table id="example" class="table" style="width:100% ;
                                border:px;">
                                    <tr class="bg-info">
                                        <th>الإسم  </th>  
                                         <th>اللقب</th>
                                         
                                        <th>تاريح الولادة</th>
                                      
                                        <th>القسـم</th>  
                                       
                                        <th>إسم الأب</th>
                                        <th>هاتف الأب</th>
                              
                                        <th>إسم الأم</th>
                                        <th>هاتف الأم</th>
                                       <th>العنوان</th>
                              
                                       
                                    </tr>
                                    <tr>
                                <td>{{enf.prenom}}</td>
                               <td>{{enf.nom}}</td>
                              <td>{{enf.datenessance}}</td>
                              <td>{{c}}</td>
                      
                              <td>{{enf.Nompere}}</td>
                              <td>{{enf.telpere}}</td>
                              <td>{{enf.Nommere}}</td>
                              <td>{{enf.telmere}}</td>  
                              <td>{{enf.adresse}}</td>

                                    </tr>
                                </table>
         
                            </div>
                        </div>
     
                    </div>
                </div>
            </div>

              
            </div>
