<div class="wrapper">
    <app-sidebar></app-sidebar>
   
      <div class="main-panel">
   
      <app-navbar>
     
      </app-navbar>
  
  
          <div class="content">
              
  
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="card">
                                  <div class="header">
                                  </div>
                                  <input type="submit"(click)="toajtclasse()" value="اضافة قسم" >
  
                                  <h1 class="liste">قائمة الأقسام</h1>
  
                    
  
  
  
  <app-listclasstow></app-listclasstow>
  
                              </div>
                          </div>
       
                      </div>
                  </div>
              </div>
  
          <app-footer></app-footer>
  
      </div>
  </div>
  
  