
<div class="wrapper">
    <app-sidebar></app-sidebar>
      <div class="main-panel">   
      <app-navbar></app-navbar>
      
          <div class="content">
                  <div class="container-fluid">
                      <div class="row">
                        <h3 style="text-align: center;">  تحيين السنة الدراسية</h3>
                        <form [formGroup]="f" 
                        (ngSubmit)="mdfannee()">
                <div class="form-row">
          <div class="form-group col">
            تاريخ البداية<input   type="date" placeholder="date_deb"  formControlName="date_deb"><br>
          
                     
                   
                  <div *ngIf="date_deb.touched && date_deb.invalid">
                    <small *ngIf="date_deb.errors.required" class="text-danger">*هذا المجال مطلوب*<br></small>
                  
                    </div>
               </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      تاريخ النهاية<input  type="date" placeholder="date_deb"  formControlName="date_fin"><br>
                    
                               
                             
                            <div *ngIf="date_fin.touched && date_fin.invalid">
                              <small *ngIf="date_fin.errors.required" class="text-danger">*هذا المجال مطلوب*<br></small>
                            
                              </div>
                         </div>
                            </div>
                       
                            
                        
                                   
                        <input type="submit"  value="تحيين" />
                        </form>
                        </div>
                      </div>
                  </div>
              
          <app-footer></app-footer>
      </div>
  </div>
  
  