
<div class="wrapper">
    <app-sidebar></app-sidebar>
   
  
      <div class="main-panel">
  
  
          
      <app-navbar></app-navbar>
  

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <!-- <h4 class="title">آیکون‌های Awesome Stroke - تعداد: 202</h4> -->
                                <p style="font-size: 29px;"  class="category"> اللائحة    <!-- <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a> --></p>
                            </div>
                            <div class="content all-icons">
                            <div class="row">
      
                                <div class="col-sm-6 col-lg-3" (click)="listenf()" >
                                    <div class="card text-white bg-info" style="background-color: yellow; width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                            <img src="https://cdn.discordapp.com/attachments/756965440194084984/823505241948815400/kids.jpg"
                                             class="mb-0" width="250" height="250">
                                      
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>الأطفال</p>

                                </div>
                                  <div class="col-sm-6 col-lg-3" (click)="club()" >
                                    <div class="card text-white bg-info" style="background-color: rgb(0, 255, 157); width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                       
                                       <img src="https://cdn.discordapp.com/attachments/756965440194084984/823510640370778132/33EpIr0C0r0sBkZ5VPB8hc6QU8GHNodduq1umokwAmK06vMkshiQN2kh6X1_KpJphi0EZe5_z8SiX5j-4rgCDIyZlhG75bqXhLvU.png"
                                             class="mb-0" width="250" height="250">
                                      
                                      
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;" (click)="club()">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>النوادي</p>

                                </div>  <div class="col-sm-6 col-lg-3" (click)="listclasse()" >
                                    <div class="card text-white bg-info" style="background-color: rgb(17, 0, 255); width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                       
                                           <img src="https://cdn.discordapp.com/attachments/756965440194084984/823511119552446494/Classes-for-Kids.jpg"
                                             class="mb-0" width="250" height="250">
                                      
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>الأقسام</p>

                                </div>
                                <div class="col-sm-6 col-lg-3 " (click)="listmait()" >
                                    <div class="card text-white bg-info" style="background-color: rgb(255, 0, 128); width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                            <img src="https://cdn.discordapp.com/attachments/756965440194084984/823516445790175262/RS5776_121350642-low.png"
                                             class="mb-0" width="250" height="250">
                                       </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>المدرسين</p>

                                </div> 
                                <div class="col-sm-6 col-lg-3" (click)="absanceclasse()" >
                                    <div class="card text-white bg-info" style="background-color: darkcyan; width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                            <img src="https://cdn.discordapp.com/attachments/756965440194084984/823520813382369290/portrait-cute-boy-raising-hand-260nw-207975283.jpg"
                                                    class="mb-0" width="250" height="250">
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>ورقة حضور الأطفال</p>

                                </div>
                                <div class="col-sm-6 col-lg-3"(click)="pay()"  >
                                    <div class="card text-white bg-info" style="background-color: rgb(255, 0, 0); width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                       <img src=" https://cdn.discordapp.com/attachments/756965440194084984/823517720653070357/512x512bb.jpg"
                                             class="mb-0" width="250" height="250">
                                     
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>إستخلاص الأطفال</p>

                                </div>  <div class="col-sm-6 col-lg-3" (click)="gestionfinance()">
                                    <div class="card text-white bg-info" style="background-color: rgb(0, 255, 234); width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                 <img src="https://cdn.discordapp.com/attachments/756965440194084984/823519505975214120/unnamed.png"
                                             class="mb-0" width="250" height="250">
                                            
                                        
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>المصاريف</p>

                                </div> 
                                 <div class="col-sm-6 col-lg-3" (click)="absancemait()" >
                                    <div class="card text-white bg-info" style="background-color: beige; width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                        <img src="https://cdn.discordapp.com/attachments/756965440194084984/823522105411764274/to-do-list-or-checklist-icon-can-be-used-as-logo-vector-8849725.jpg"
                                                    class="mb-0" width="250" height="250">
                                            
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>ورقة حضور المدرسين </p>

                                </div>  
                                <div class="col-sm-6 col-lg-3" >
                                    <div class="card text-white bg-info" style="background-color: rgb(255, 166, 0); width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                   <img src="https://cdn.discordapp.com/attachments/756965440194084984/823518825063776316/dad-and-children-vector-13707768.jpg"
                                             class="mb-0" width="250" height="250">
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>الأباء</p>

                                </div>
                                <div class="col-sm-6 col-lg-3" (click)="document()" >
                                    <div class="card text-white bg-info" style="background-color: red; width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                       
                                              <img src="https://cdn.discordapp.com/attachments/756965440194084984/823522716489220116/dossier-de-bureau-avec-des-documents-confidentiel-d-isolement-sur-le-dos-blanc-fond-illustration-pla.jpg"
                                                    class="mb-0" width="250" height="250">
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>أوراق الإدارة</p>

                                </div> 
                                 <div class="col-sm-6 col-lg-3" (click)="compte()" >
                                    <div class="card text-white bg-info" style="background-color: darkgrey; width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                       
                                             <img src="https://cdn.discordapp.com/attachments/756965440194084984/823523593106358332/shutterstock-16.png"
                                                    class="mb-0" width="250" height="250">
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p> إدارات حسابات المستعملين</p>

                                </div>

                <div class="col-sm-6 col-lg-3" >
                                    <div class="card text-white bg-info" style="background-color: cornflowerblue; width: 250PX;height: 250px;">
                                        <div class="card-body pb-0">
                                       
                                             <img src="https://cdn.discordapp.com/attachments/756965440194084984/823524991320064030/activit.png"
                                                    class="mb-0" width="250" height="250">
                                        </div>
                                        <div class="chart-wrapper px-3" style="height:70px;">
                                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                                        </div>

                                    </div>
                                    <p>صور وأنشطة</p>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

     


    </div>



    <app-footer></app-footer>


</div>
</div>

