  <div class="sidebar" data-color="green" data-image="../assets/img/sidebar22.jpg"> 
 

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
               </a>
            </div>

            <ul class="nav">
                <li >
                    <a (click)="listenf()"> 
                        <p style="font-size:17px">إدارة الأطـفــال</p>
                    </a>
                </li>
                <li >
                    <a (click)="listmait()">
                        <p style="font-size:17px">إدارة المـدرســيــن</p>
                    </a>
                </li>
                <li >
                    <a (click)="listclasse()">
                        <p style="font-size:17px">إدارة الأقـســــام</p>
                    </a>
                </li>
                <li >
                    <a (click)="club()">
                        <p style="font-size:17px">إدارة النوادي و الأنشطة</p>
                    </a>
                </li>
                <li >
                    <a (click)="gestionfinance()">
                        <p style="font-size:17px">إدارة الشــؤون المـالـية</p>
                    </a>
                </li>

                <li >
                    <a (click)="absance()">
                        <p style="font-size:17px">إدارة الغيـابـات</p>
                    </a>
                </li>
                <li>
                    <a (click)="document()">
                        <p style="font-size:17px">إدارة الوثـــائق والطبــاعة</p>
                    </a>
                </li>
               <!-- <li >
                    <a (click)="parent()">
                        <p style="font-size:17px">إدارة شــــؤون الأولــيـاء </p>
                    </a>
                </li> --> 
                
                <li>
                <a (click)="compte()">
                    <p style="font-size:16.1px">إدارة حسابات المستعملين</p>
                </a>
            </li>
            </ul>
    	</div>
    </div>
