<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only"> اعلان تيتة</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="maitresse/dashboard"><img class="titr" src="..\assets\img\tita.jpg"></a>
        </div>
        <div class="collapse navbar-collapse">
         

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a (click)="logout()" >
                        خروج
                    </a>
                </li>
                <li>
                   <a href="/maitresse/dashboard">
                  الصفحة الرئيسية
                    </a>
                </li>
                <li class="dropdown">
                    
                 
                </li>
                
                <li>
                    <a  >
                         السنة الدراسية  {{an}}
                    </a>
                </li>
             
            </ul>
        </div>
    </div>
</nav>