<div style="text-align: center;" >
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="البحث">

                                    </div>

              <table mat-table [dataSource]="dataSource" matSort>  
                
       
                  <ng-container matColumnDef="nom">
                      <th mat-header-cell *matHeaderCellDef> النشاط </th>
                      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dateactivite">
                      <th mat-header-cell *matHeaderCellDef> تاريخ النشاط </th>
                      <td mat-cell *matCellDef="let element"> {{element.dateactivite}} </td>
                    </ng-container> <ng-container matColumnDef="prixactivite">
                      <th mat-header-cell *matHeaderCellDef> ثمن النشاط </th>
                      <td mat-cell *matCellDef="let element"> {{element.prixactivite}} 
                       

                      </td>
                      
                    </ng-container> 
                    <ng-container matColumnDef="details">
                      <th mat-header-cell *matHeaderCellDef> المزيد</th>
                      <td mat-cell *matCellDef="let element">
                    
                                      <i class="material-icons" (click)="detail(element)">dehaze</i>

              </td>
                    </ng-container>
                    <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef> تحين </th>
                        <td mat-cell *matCellDef="let element">
                
                                             <i class="material-icons" (click)="modifieractuvite(element)">edit</i>

                      </td>
                      </ng-container>
                      <ng-container matColumnDef="supprimer">
                        <th mat-header-cell *matHeaderCellDef> حذف </th>
                        <td mat-cell *matCellDef="let element">
    
                                              <i class="material-icons" (click)="suppactivite(element)">delete</i>

                      </td>
                      </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="5"
                [pageSize]="10"
                [pageSizeOptions]="[5,10,25,100]"
                >
 </mat-paginator>