
<div class="wrapper">
    <app-sidebar></app-sidebar>
      <div class="main-panel">   
      <app-navbar></app-navbar>
      
          <div class="content">
                  <div class="container-fluid">
                      <div class="row">
                        <form [formGroup]="f" 
                        (ngSubmit)="ajtannee()">
                <div class="form-row">
          <div class="form-group col">
            <h3 class="liste"> إضافة نشاط</h3>
            إسم النشاط <input   type="text" placeholder="إسم النشاط"  formControlName="nom"><br>
          
                     
                   
                  <div *ngIf="nom.touched && nom.invalid">
                    <small *ngIf="nom.errors.required" class="text-danger">*هذا المجال مطلوب*<br></small>
                  
                    </div>
               </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                        التاريخ <input  type="date"  placeholder="التاريخ"  formControlName="dateactivite"><br>
                    
                               
                             
                         
                         </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    ثمن النشاط <input  type="number"    step="0.1"placeholder="ثمن النشاط"  formControlName="prixactivite"><br>
                                
                                           
                                         
                                     
                                     </div>
                                        </div>
                       
                            
                        
                                   
                        <input type="submit"  value=" إنشاء النشاط "   [disabled]="   f.invalid"/>
                        </form>
                        </div>
                      </div>
                  </div>
              
          <app-footer></app-footer>
      </div>
  </div>
  
  