<div class="sidebar" data-color="green" data-image="../assets/img/sidebar22.jpg"> 

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
               </a>
            </div>

            <ul class="nav">
            
                <li >
                    <a (click)="compte()">
                        <p  style="font-size:17px">إدارة الحساب</p>
                    </a>
                </li>
                <li>
                    <a (click)="enfant()">
                        <p  style="font-size:17px">  معلومات حول الابناء</p>
                    </a>
                </li>
               
			
            </ul>
    	</div>
    </div>